body{

    background-image: url('turned-on-pendant-lamp-132340.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

/* Float four columns side by side */
.column {
    float: center;
    width: 45%;
    height: 45%;
    padding: 10px 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  /* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  } 
   */
  /* Style the counter cards */
  .card1 {
    position: absolute;
    margin-top: 28%;
    margin-left: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:  9px;
    text-align: center;
    background-color: #f1f1f1;
    width: 500px;
    height: auto;
  }

   /* Style the counter cards */
   .card2 {
    position: absolute;
    margin-top: 28%;
    margin-left: 145px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:  9px;
    text-align: center;
    background-color: #f1f1f1;
    width: 500px;
    height: auto;
  }


.button{
    border: none;
    margin-top: 2%;
    margin-bottom: 0%;
    outline: 0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 100;

  }

.button:hover {
	background-color: #7cb4befd;
  }

.about {
    text-align: center;
}
.about .aboutUsButton {

	position: absolute;
    top: 8%;
    margin-left:32%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: rgb(182, 129, 127);
	
	color: black;
	font-size: 20px;
	font-style: bold;
	font-weight: 900;
	padding: 14px 40px;
	border: black;
	cursor: pointer;
	border-radius: 4px;
	text-align: center;
	border: 2px solid #140101; 
  }
  
  .about .aboutUsButton:hover {
	background-color: #7cb4befd;
  }

  .title {
	
	position: absolute;
	top: 17%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 45px;
	color: black;
	font-weight: 600;
	white-space: nowrap;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.text2 {

	position: absolute;
	top: 27%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	color: black;
	font-weight: 600;
	white-space: nowrap;
	text-shadow: -1px 0 white, 0 0.4px white, 0.4px 0 white, 0 -0.4px white;
	font-style: bold;

}

.text3 {

	position: absolute; 
	top: 40%; 
	left: 49%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	color: black;
	font-weight: 800;
	white-space: nowrap;
	text-shadow: -1px 0 white, 0 0.4px white, 0.4px 0 white, 0 -0.4px white;
	font-style: bold;

	/* font-style: italic; */
}

.corner_text {
	position: absolute;
	bottom: 8px;
	left: 16px;
	font-size: 11px;
	text-align: left;
	top: 2%;
	text-decoration: none
}

a:link {
	text-decoration: none;
  }

a:hover {
	text-decoration: underline;
  }