.HS{
    padding-top: 20px;
    background: #90D0DC;
    padding-bottom: 30px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: #358998;
    text-align: center;

}


.title{
    margin-top: 100px;
   text-align: left;
    font-family: Helvetica, sans-serif;
}

.header{
   outline: #6192CA;
}


/*Text*/

h1{
    color: #358998;
    margin-left: 5%;
        font-family: Helvetica, sans-serif;
}

p{
 display: block;
    font-family: Helvetica, sans-serif;
    margin-right: 30%;
    margin-left: 5%;
    line-height: 1.6;
    font-size: 18.5px;
}

.quote{
    font-family: Helvetica, sans-serif;
    color:#79C6D4;
    width:60%;
    margin:auto;
background-color: #5A84C5;
    margin-bottom: 5%;
}


/*Related*/

h3{
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    color:#9FB9DF;
    text-align: center;
    border-bottom-style:double;
    border-top-style: double;
    border-color: #4AB0C3;
    border-width: 10px 10px;
    width: 40%;
    margin:auto;
    margin-bottom: 20px;
}

.wrapper {
    text-align: center;
}

.relatedbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*Top Buttons*/

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

/*Dropdown Menu*/
.dropbtn {
    border: 5px;
    background-color: #3d3d3d;
    color: #d1d1d1;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #d1d1d1;
        color: #3d3d3d;
        text-align: center;
    }

#nav{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
    position: relative;
    margin: 5px;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3d3d3d;
    font-family: Helvetica, sans-serif;
    color: #d1d1d1;
    min-width: 160px;
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        background-color: #d1d1d1;
        color: #3d3d3d;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: Helvetica, sans-serif;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #3d3d3d;
            color: #d1d1d1;
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*form{
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid chocolate;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 60px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 20px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 70%;
    color:burlywood;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 700px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: brown;
    color:burlywood;
}

/*Button*/

.wrapper {
    text-align: center;
}

.relatedbutton{
    background-color:#358998;
  color:#90D0DC;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
  padding-right: 10px;
  cursor: pointer;
    justify-content: center;
    transition-duration: 0.4s;
    align-items: center;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.relatedbutton:hover {
  background-color:#90D0DC;
  color:#358998;
}

.related{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; 
    text-align: center; 
}


.homebutton{
  border: 5px;
    background-color: #358998;
  color:#90D0DC;
    padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px 4px;
  cursor: pointer;
    float:inherit;
    justify-content: center;
    transition-duration: 0.4s;
    align-items: center;
    justify-content: center;
}

.homebutton:hover {
  background-color: #90D0DC ; 
  color: #358998;
}

img{
    float:right;
}

    

/*.searchbar{
   position: absolute;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 90px;
 padding: 10px;
    margin-left:1300px;
    
}


.searchbutton{
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 display:inline;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.search{
    border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}

