.wrapper{
    position: absolute;
    left:20%;
    width:100%;
}

.wrapper .input{
    width:55%;
    padding: 15px 20px;
}

.button{
    color:aliceblue;
    background-color: dimgray;
    font-size: 20px;
    width: 58%;

}