body{
    background-color: #eeecdf;
}


.jumbotron {
    margin-bottom: 0;
    background-color: light orange;
    opacity: 0.8;
    background-size: contain;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-image: url("/Users/nivethaanesarajah/Documents/GitHub/UniversityHelpWebpage/jumbotron_about_is.jpg");

}

p {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif

}

.container-text-center {

    height: 20%

}

.container-text-justify {
    width: 50%;
    height: auto;
}

.img-fluid{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height:auto;
} 

.team {

    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

.people {

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-align: left;

}
.text-center{
    color:blue;
    border-color: white;
}

.container-text-center {

}