.jumbotron {
    margin-bottom: 0;
    background-color: light orange;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
	background-position: center center;

  }

.text {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif

}


.img-fluid{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height:auto;
} 

.team {

    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

.people {

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-align: left;

}
.text-center{
    color:blue;
    border-color: white;
}